
.dashmain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: 85vh;
    padding-bottom: 2px;
    background-color: #a7a39b35;
    margin:1% 0 0 1% ;
    justify-content: space-around;
    overflow-y:scroll ;
  }
.post{
   background-color: rgb(253, 254, 254);
   width: 30%;
   height: 60vh;
   margin-top: 10px;
   border-radius: 20px;
   border: 2px solid #cccccc;
}
.postimg{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    width: 100%;
    height: 30vh;
    border-radius: 20px;
}

.createpostpage{
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#0b29166e;
  width: 100%;
  color: aliceblue;
  background-image: url("../bg1.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.createpostpage{
 width: 60%;
 align-self: center;
}

.userprofile{
  margin-top: 10px;
  margin-left: 5px;
  width: 90%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: transparent;
 
}
.userprofile .userdetials{
  width: 60%;
  height: 40px;
  margin-left: 5px;
  padding: 0;
  text-align: left;
  line-height: 0.1px;
}
.userprofile .userdetials h5{
  margin-top: 5px;
}
.userprofile .userdetials h6{
font-weight: 100;

}
 .userprofile .img{
  width: 40px;
  height:40px;
  border-radius: 100%;
  border: 2px solid rgb(59, 58, 58);
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.userprofile .user{
  align-self: center;
}
.userprofile .followbtn{
  align-self: center;
  margin-right: 10%;
  width: 40%;
}
.userprofile .followbtn button{
  align-self: center;
  margin-left: 20%;
  width: 90%;
  padding: 3%;
  border: 2px solid #FFC061;
  border-radius: 20px;
  background-color: transparent;

}
.userprofile .followbtn button:hover{
  border: 2px solid #FFC061;
  background-color:#f99806;
}
.frnbtn:hover{
  background-color: aquamarine;
}

.readpost{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:#0b29166e;
  width: 100%;
  color: aliceblue;
}
.viewpost{
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  background-color:#0b29166e;
  width: 100%;
  color: aliceblue;
  background-image: url("../bg2.jpg");
  /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}